.card__title{
    color : #282828;
    font-size: 16px;
}

.card__description{
    color : #282828;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 14px;
  }
  .card__description {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    font-size: 12px;
  }
  .card__description {
    display: none;
  }
}

.card__img-top{
    height: 182px;
    width: 288px;
    margin-bottom: 8px;
}